  {
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic" // 리액트 코드를 변환할때, react를 명시적으로 임포트 하지 않아도  jsx 문법으로 자동 변환
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true // 비동ㄱ 코드에서 사용 되는 regenertorRuntime을 자동 포함함
      }
    ]
  ]
}
